
<article id="initial-symptoms">
  <div class="container" >
    <h2>Patient Symptoms</h2>

<article id="initial_symptoms_q">
    <h5>Cough?</h5>
    <input type="radio" id="chkYes" name="cough" value="yes" onclick={{action "addOne"}}/><label>Yes</label> &nbsp;
    <input type="radio" id="chkNo" name="cough" value="no"><label>No</label>

    <h5>Chest pain?</h5>
    <input type="radio" id="chkYes" name="chest" value="yes" onclick={{action "addOne"}}><label>Yes</label> &nbsp;
    <input type="radio" id="chkNo" name="chest" value="no"><label>No</label>

    <h5>Sputum production?</h5>
    <p>(Coughing up and spitting out material)</p>
    <input type="radio" id="chkYes" name="sputum" value="yes" onclick={{action "addOne"}}><label>Yes</label> &nbsp;
    <input type="radio" id="chkNo" name="sputum" value="no"><label>No</label>

    <h5>Chills?</h5>
    <input type="radio" id="chkYes" name="chills" value="yes" onclick={{action "addOneandHalf"}}><label>Yes</label> &nbsp;
    <input type="radio" id="chkNo" name="chills" value="no"><label>No</label>

    <h5>Shortness of breath?</h5>
    <input type="radio" name="breath" value="activity" onclick={{action "addOne"}}><label>During activity</label> &nbsp;
    <input type="radio" name="breath" value="rest" onclick={{action "addTwo"}}><label>At rest</label>
    <input type="radio" name="breath" value="none"><label>No</label>

    <h5>Confusion?</h5>
    <p>(or "haven't been acting right")</p>
    <input type="radio" id="chkYes" name="confusion" value="yes" onclick={{action "addTwo"}}><label>Yes</label> &nbsp;
    <input type="radio" id="chkNo" name="confusion" value="no"><label>No</label>

    <h5>Has the patient had a pneumonia shot in the last 5 months?</h5>
    <input type="radio" id="chkYes" name="shots" value="yes" onclick={{action "minusOne"}}><label>Yes</label> &nbsp;
    <input type="radio" id="chkNo" name="shots" value="no"><label>No</label>

    <h5>Has the patient had the flu in the past month?</h5>
      <input type="radio" name="flu" value="yes" onclick={{action "addOne"}}><label>Yes</label> &nbsp;
      <input type="radio" name="flu" value="no"><label>No</label>

  <h5>What's your heart rate?</h5>
  {{input name="Heart rate" placeholder="Heart rate" value=heartRate id="heartRate"}}<label>beats/min</label><br>
  <button {{action "myheartRateDidChange"}}>Save</button>

  <h5>What's your respiratory rate?</h5>
  {{input name="Resp rate"  placeholder="Respiratory rate" value=respRate id="respRate"}}<label>breaths/min</label><br>
  <button {{action "myrespRateDidChange"}}>Save</button>

  <h5>What's your oxygen saturation?</h5>
  {{input name="Oxi Sat" placeholder="Oxygen saturation" value=oxiSat id="oxiSat"}}<label>%S<sub>P</sub>O<sub>2</sub></label><br>
  <button {{action "myoxiSatDidChange"}}>Save</button>

  <h5>What's your systolic blood pressure?</h5>
  {{input name="Sys Blood pressure" placeholder="Systolic" value=sysbloodPressure id="sysBloodPressure"}}<label>mmHg</label><br>
  <button {{action "mysysbloodPressDidChange"}}>Save</button>

  <h5>What's your diastolic blood pressure?</h5>
  {{input name="Dia Blood pressure" placeholder="Diastolic" value=diabloodPressure id="diaBloodPressure"}}<label>mmHg</label><br>
  <button {{action "mydiabloodPressDidChange"}}>Save</button>

  <h5>What's your body temperature?</h5>
  {{input name="Body temperature" placeholder="Body temperature" value=temperature id="temperature"}}<label>&deg;F</label><br>
  <button {{action "mytempDidChange"}}>Save</button>


  <h5>Are you taking medication?</h5>
  <input type="radio" name="meds" value="yes"> <label>Yes</label> &nbsp;
  <input type="radio" name="meds" value="no"> <label>No</label>

  <h5>Do you have asthma?</h5>
  <input type="radio" name="asthma" value="yes"> <label>Yes</label> &nbsp;
  <input type="radio" name="asthma" value="no"> <label>No</label>

  <h5>Do you have any kinds of aches or pains?</h5>
  <input type="radio" name="aches" value="yes"> <label>Yes</label> &nbsp;
  <input type="radio" name="aches" value="no"> <label>No</label>

  <h5>Do you have any kinds of organ (brain, heart, lungs) dysfunctions?</h5>
  <input type="radio" name="organ" value="yes"> <label>Yes</label> &nbsp;
  <input type="radio" name="organ" value="no"> <label>No</label>

  <h5>Do you have HIV, history of lung disease, history of renal dysfunction, or history of cardiac disease?</h5>
  <input type="radio" name="history" value="yes"> <label>Yes</label> &nbsp;
  <input type="radio" name="history" value="no"> <label>No</label>

  <br>
  <br>

  {{#link-to "result"}}<button class="btn btn-secondary btn" id="button4" {{action "getResult"}}>View Result</button>{{/link-to}}
  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br>


  </article>
  </div>
</article>
