<article id="vital-signs">
  <div class="container" >
    <h2>Patient Vital Signs</h2>


<article id="vital_signs_q">
    <h5>What's your heart rate?</h5>
    {{input name="Heart rate" placeholder="Heart rate" value=heartRate}}
    <span style="margin-left:0px;">beats/min</span>

    <h5>What's your respiratory rate?</h5>
    {{input name="Resp rate" placeholder="Respiratory rate" value=respRate}}
    <span style="margin-left:0px;">breaths/min</span>

    <h5>What's your oxygen saturation?</h5>
    {{input name="Oxi Sat" placeholder="Oxygen saturation" value=oxiSat}}
    <span style="margin-left:0px;">%S<sub>P</sub>O<sub>2</sub></span>

    <h5>What's your blood pressure?</h5>
    {{input name="Blood pressure" placeholder="Systolic/Diastolic" value=bloodPressure}}
    <span style="margin-left:0px;">mmHg</span>

    <h5>What's your body temperature?</h5>
    {{input name="Body temperature" placeholder="Body temperature" value=temperature}}
    <span style="margin-left:0px;">&deg;F</span>

    <h5>Are you taking medication?</h5>
    <input type="radio" name="cough" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="cough" value="no"> <label>No</label>

    <h5>Do you have asthma?</h5>
    <input type="radio" name="cough" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="cough" value="no"> <label>No</label>

    <h5>Do you have any kinds of aches or pains?</h5>
    <input type="radio" name="cough" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="cough" value="no"> <label>No</label>

    <h5>Do you have any kinds of organ (brain, heart, lungs) dysfunctions?</h5>
    <input type="radio" name="cough" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="cough" value="no"> <label>No</label>

    <h5>Do you have HIV, history of lung disease, history of renal dysfunction, or history of cardiac disease?</h5>
    <input type="radio" name="cough" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="cough" value="no"> <label>No</label>

    <br>
    <br>
    {{#link-to "result" class="btn btn-secondary btn" id="button4"}}
      View Result
    {{/link-to}}
    <br>
    <br>
    <br>
    <br>
    <br>

    </article>

  </div>
</article>